<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default
         See http://logback.qos.ch/manual/layouts.html -->
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.micronautics.nsca"      level="WARNING" />

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
